<section class="footer">
    <div class="footer__content">
        <h3 class="footer__header">
            Soul notes lc London
        </h3>
        <div class="footer__socials">
            <a href="" class="footer__socials-link"><ion-icon name="logo-instagram"></ion-icon></a>
            <a href="" class="footer__socials-link"><ion-icon name="logo-twitter"></ion-icon></a>
            <a href="" class="footer__socials-link"><ion-icon name="logo-tiktok"></ion-icon></a>
            <a href="" class="footer__socials-link"><ion-icon name="logo-facebook"></ion-icon></a>

        </div>

        <div class="footer__links">
            <a href="" class="footer__links-link">Refunds Policy</a>
            <a href="" class="footer__links-link">Contact Us</a>
            <a href="" class="footer__links-link">How we make them</a>
        </div>
    </div>

    <sub class="copyright">&copy; SoulNotesLCLondon; Photography by <a href="https://www.instagram.com/jazzy.photog/" class="link" target="_blank">Jazelle Wilson</a></sub>

    <br>

    <!-- font selector REMOVE!!!!!!!!!!!! -->
    <select name="font" id="font">
        <option value="none">default</option>
        <option value="'Caveat', cursive">caveat</option>
        <option value="'Dancing Script', cursive">dancing</option>
        <option value="'Kalam', cursive">kalam</option>
        <option value="'Edu QLD Beginner', cursive">edu</option>
    </select>
    <script>
        const fontSelect = document.querySelector('#font')
        fontSelect.addEventListener('change', (e) => {
            const font = fontSelect.value
            document.body.style.fontFamily = font
        })
    </script>

</section>