<section class="shipping">

    <ul class="shipping__info">
        <li class="shipping__info-item">
            <ion-icon name="earth-outline"> </ion-icon>
           <p class="shipping__info-text">worldwide</p>
           <p class="shipping__info-text">  shipping</p>  
            
        </li>

        <li class="shipping__info-item">
            <ion-icon name="mail-outline"></ion-icon>
            <p class="shipping__info-text">spend over £50</p>
            <p class="shipping__info-text">  for free uk delivery</p>  
        </li>

        <li class="shipping__info-item">
            <ion-icon name="gift-outline"></ion-icon>
            <p class="shipping__info-text">Each item</p>
            <p class="shipping__info-text">  packaged with care</p>  
        </li>

       
    </ul>


</section>