///Colors
$color-gold-1: #bda670;
$color-gold-2: #94804e;
$color-gold-3: #52402c;

$color-gray-dark-1: #212529;
$color-gray-dark-2: #343a40;
$color-gray-dark-3: #495057;

$color-gray-light-1: #f8f9fa;
$color-gray-light-2: #e9ecef;
$color-gray-light-3: #ececed;



//media query manager
/*
0-600px         phone
600-900px       tablet portrait
900-1200px      tablet landscape
1200-1800       normal styles
1800+           big desktop
*/

@mixin respond-phone{
    @media (max-width:600px){    @content    };
}

/*
- phone
- tab-port
- tab-land
- big-desktop
*/

@mixin respond($breakpoint){
@if $breakpoint == phone{
    @media (min-width:37.5em){    @content    };  //600px
}
@if $breakpoint == tab-port{
    @media (min-width:56.25em){    @content    };  //900px
}

@if $breakpoint == tab-land{
    @media (min-width:75em){    @content    }; //1200px
}

@if $breakpoint == big-desktop{
    @media (min-width:112.5em){    @content    }; //1800px
}
}