<% layout('./layouts/boilerplate') -%>

    <section class="signUp">
        <form action="/user" method="POST" class="contact__form">

        
            <input type="text" class="contact__form-input" id="firstName" name="firstName" placeholder="First Name">
            <input type="text" class="contact__form-input" id="lastName" name="lastName" placeholder="Last Name">

            <div class="address">
                <p class="contact__form-label">Address</p>

                <input type="text" placeholder="Address" id="location-input" class="contact__form-input"
                    name="address[lineOne]" />
                <input type="text" placeholder="Apt, Suite, etc (optional)" class="contact__form-input"
                    name="address[lineTwo]" />
                <input type="text" placeholder="City" id="administrative_area_level_2-input" class="contact__form-input"
                    name="address[city]" />
                <input type="text" placeholder="Zip/Postal code" id="postal_code-input" class="contact__form-input"
                    name="address[postcode]" />
                <input type="text" placeholder="Country" id="country-input" class="contact__form-input"
                    name="address[country]" />

            </div>
<!-- 
            <label for="password" class="contact__form-label">Password</label> -->
            <input type="password" class="contact__form-input" id="password" name="password" placeholder="Password">

            <!-- <label for="email" class="contact__form-label">e-mail</label> -->
            <input type="email" class="contact__form-input" id="email" name="email" placeholder="E-Mail">

            <div class="priv">
                <label for="checkbox"> Please read our <a href="/privacy" class="link" target="_blank">privacy
                        statement</a></label>
                <input type="checkbox">
            </div>
            <div class="opt">
                <label for="optIn">check here to receive promotional email from us</label>
                <input type="checkbox" id="optIn" name="optIn">
            </div>

            <button class="btn btn-form">submit</button>
        </form>
        <script>
            function initMap() {
                // No need to do anything here, as we are not using the map visualization.
            }
        </script>
         <script src="/js/autocomplete.js"></script>
        <script
            src="https://maps.googleapis.com/maps/api/js?<%= process.env.MAPS_KEY %>&libraries=places&callback=initMap&solution_channel=GMP_QB_addressselection_v1_cA"
            async defer></script>
        </body>
       
   

        </html>