<% layout('./layouts/boilerplate') -%>

    <section class="header">
        <img src="img/logo-title.png" alt="love notes logo" class="header__logo">
    </section>

    <section class="home-products">
        <img src="img/product-2.png" alt="" class="home-products__img">
        <img src="img/product-1.png" alt="" class="home-products__img">
        <img src="img/product-3.png" alt="" class="home-products__img">
    </section>