/*
0-600px         phone
600-900px       tablet portrait
900-1200px      tablet landscape
1200-1800       normal styles
1800+           big desktop
*/
/*
- phone
- tab-port
- tab-land
- big-desktop
*/
/* universal reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Dosis", sans-serif;
  color: #bda670;
  box-sizing: border-box;
  background-color: black;
}

h1,
h2,
h3,
h4 {
  font-family: "Dosis", sans-serif;
}

.u-underline {
  text-decoration: underline;
}

.u-mb-sml {
  margin-bottom: 1rem !important;
}

.u-mb-med {
  margin-bottom: 2rem !important;
}

.u-mb-lrg {
  margin-bottom: 4rem !important;
}

.link:link,
.link:visited {
  text-decoration: none;
  color: inherit;
}

.title-secondary {
  font-size: 2.6rem;
  font-weight: 800;
  letter-spacing: 5px;
}

.nav {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 70%;
  position: relative;
  top: 0;
  left: -70%;
  padding: 1rem;
  align-items: center;
  text-align: center;
  background-color: rgba(248, 249, 250, 0.95);
  z-index: 10000;
  border-right: 5px solid #bda670;
  transition: all 0.7s;
}
.nav__container {
  display: inline-block;
  position: sticky;
  top: 0;
  height: 10rem;
  width: 100%;
  transition: all 0.8s;
  z-index: 10000;
  margin-bottom: 5rem;
}
.nav__icon {
  position: absolute;
  width: 15rem;
  display: block;
  top: -1rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 900;
}
.nav__links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 1px;
}
.nav__items {
  text-transform: uppercase;
  list-style: none;
  margin: 2rem 0;
}
.nav__items:hover, .nav__items:active {
  font-size: 2rem;
}
.nav__link:link, .nav__link:visited {
  color: inherit;
  text-decoration: none;
}
.nav__divider {
  display: none;
  font-weight: 800;
  font-size: 1.8rem;
}
.nav__hamburger {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 6rem;
  height: 6rem;
  padding: 0.5rem;
  border-radius: 100%;
  top: 2rem;
  right: 2rem;
  background-color: #e9ecef;
}
.nav__hamburger-container {
  display: none;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}
.nav__hamburger:hover, .nav__hamburger:active {
  background-color: rgba(236, 236, 237, 0.95);
}
.nav__hamburger-line {
  position: absolute;
  display: inline-block;
  background-color: black;
  height: 0.5rem;
  width: 3rem;
  transition: all 0.2s;
  left: 1.4rem;
  border-radius: 2px;
}
.nav__hamburger-line-1 {
  top: 1.5rem;
}
.nav__hamburger-line-3 {
  bottom: 1.5rem;
}

.btn {
  border: none;
  background-color: unset;
  color: inherit;
  text-transform: uppercase;
  font-size: 1.6rem;
  letter-spacing: 2px;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 1rem;
  transition: all 0.8s;
  border: 2px ridge rgba(189, 166, 112, 0);
  cursor: pointer;
}
.btn:hover, .btn:active {
  transform: scale(1.2);
  border: 2px ridge #bda670;
}
.btn-form {
  margin-top: 2rem;
}
.btn-slideshow {
  font-size: 2rem;
}
.btn-card {
  padding: 0.5rem;
  font-size: 1.2rem;
}
.btn-section {
  border: none;
}
.btn-section:hover, .btn-section:active {
  border: none;
}

.contact__form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  text-align: center;
}
.contact__form-input {
  width: 50%;
  height: 4rem;
  font-size: 1.5rem;
  font-weight: 500;
  margin: 2rem auto;
  padding: 0.5rem 2.5rem;
  border-radius: 100px;
  background-color: #ececed;
  font-family: inherit;
  border: none;
  outline: none;
}
.contact__form textarea {
  height: unset;
  border-radius: 20px;
  padding: 1.5rem;
}
.contact__form-label {
  text-transform: uppercase;
  font-size: 1.6rem;
  letter-spacing: 2px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(39, 37, 37);
  color: inherit;
  padding: 2rem;
  text-transform: uppercase;
}
.footer__header {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 2rem;
}
.footer__socials {
  display: flex;
  justify-content: space-around;
  font-size: 1.8rem;
  margin-bottom: 2rem;
}
.footer__socials-link:link, .footer__socials-link:visited {
  text-decoration: none;
  color: inherit;
}
.footer__socials-link:link ion-icon, .footer__socials-link:visited ion-icon {
  color: inherit;
  position: relative;
  z-index: 0;
}
.footer__links {
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
}
.footer__links-link:link, .footer__links-link:visited {
  text-decoration: none;
  color: inherit;
}
.footer__links-link:link:not(:last-child), .footer__links-link:visited:not(:last-child) {
  margin-bottom: 1rem;
}
.footer .copyright {
  align-self: flex-end;
  margin-top: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
  margin: 0 auto;
  border-right: 2px #bda670 ridge;
  border-left: 2px #bda670 ridge;
  margin-bottom: 2rem;
}
.card-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 1rem;
}
.card-body {
  text-align: center;
  text-transform: uppercase;
}
.card-img {
  display: inline-block;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 1rem;
  border: 0.5px #bda670 ridge;
  box-shadow: 0px 0px 6rem rgba(118, 103, 70, 0.7607843137);
  border-radius: 10px;
}
.card-title {
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-color: inherit;
  text-decoration-style: ridged;
}
.card-item {
  font-size: 1.3rem;
  letter-spacing: 1px;
  margin-bottom: 2rem;
}
.card-text {
  margin: 0 2rem;
}
.card-delete {
  display: inline-block;
}
.card-product-body {
  display: flex;
  flex-direction: row;
}

.slideshow {
  width: 100%;
}
.slideshow__container {
  width: 100%;
  display: flex;
  overflow: hidden;
}
.slideshow__items {
  min-width: 50%;
  margin: 0 25%;
}
.slideshow__btn {
  margin: 2rem 0;
  display: flex;
  font-weight: 800;
  width: 100%;
}

.header {
  width: 100%;
}
.header__logo {
  display: block;
  margin: 0 auto;
  width: 90%;
  margin-top: -10rem;
  margin-bottom: 4rem;
}

.home-products {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 30rem;
  background-color: rgba(248, 249, 250, 0.1);
  padding: 3rem 0;
  margin-bottom: 5rem;
}
.home-products__container {
  position: relative;
  width: 90%;
  height: 100%;
  background-image: url("/img/product-display-1.jpg");
  background-size: cover;
  background-position-y: bottom;
  margin: 0 auto;
}
.home-products__text {
  position: absolute;
  top: 2rem;
  left: 1rem;
}

.home-story {
  position: relative;
  width: 100%;
  height: 55vh;
  margin-bottom: 5rem;
  text-align: center;
}
.home-story__content {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding-top: 2rem;
}
.home-story__video {
  position: relative;
  width: 100vw;
  height: 100%;
  overflow: hidden;
  filter: brightness(0.3);
}
.home-story__video video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.home-story__text {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 2rem 3rem;
}

.product {
  width: 100%;
}
.product__admin {
  padding: 4rem;
}

.about {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  padding: 0 3rem;
}
.about__title {
  text-align: center;
  font-size: 5rem;
  font-weight: 700;
  letter-spacing: 8px;
  text-transform: uppercase;
  align-self: center;
  margin-bottom: 3rem;
  text-shadow: #bda670 0 0px 2rem;
}
.about__section {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}
.about__paragraph {
  font-size: 1.8rem;
  font-weight: 500;
  margin: 1rem 0;
}
.about__img {
  width: 30rem;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: #bda670 1px 1px 1rem;
}

.error {
  height: 50vh;
  width: 100%;
  background-color: rgba(248, 249, 250, 0.4);
}/*# sourceMappingURL=main.css.map */