@import 'abstract/functions';
@import 'abstract/mixins';
@import 'abstract/variables';

@import 'base/base';
@import 'base/animations';
@import 'base/utils';
@import 'base/typography';

@import 'components/nav';
@import 'components/button';
@import 'components/form';
@import 'components/footer';
@import 'components/card';
@import 'components/slideshow';

@import 'pages/home';
@import 'pages/productShow';
@import 'pages/about';
@import 'pages/error';