.card {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    margin: 0 auto;
    border-right: 1px $color-gold-1 solid;
    border-left: 1px $color-gold-1 solid;
    margin-bottom: 2rem;

    &-header {
        display: flex;
        flex-direction: column;
        text-align: center;
        border-bottom: 1px $color-gold-1 solid;
        margin: 1rem;
    }

    &-body {
        text-align: center;
        text-transform: uppercase;
    }

    &-img {
        display: inline-block;
        width: 60%;
        margin: 0 auto;
        margin-bottom: 2rem;
        border: .5px $color-gold-1 ridge;
        box-shadow: 0px 0px 6rem #766746c2;
        border-radius: 10px;
    }

    &-title {
        font-size: 1.8rem;
        font-weight: 600;
        letter-spacing: 2px;
        margin: 3rem;
        text-transform: uppercase;
    }

    &-item {
        font-size: 1.3rem;
        letter-spacing: 1px;
        margin-bottom: 2rem;
    }

    &-text {
        margin: 0 2rem;
    }

    &-delete {
        display: inline-block;
    }



    &-product {
        // flex-direction: row;

        &-body {
            display: flex;
            flex-direction: row;
        }
    }
}