.contact {

    &__form {
        display: flex;
        flex-direction: column;

        //padding: 2rem;
        text-align: center;

        &-input {
            width: 80%;
            height: 4rem;
            font-size: 1.5rem;
            font-weight: 500;
            margin: 0 auto;
            padding: .5rem 2.5rem;
            border-radius: 100px;
            background-color: $color-gray-light-3;
            font-family: inherit;
            border: none;
            outline: none;
            border-bottom: 0.5rem solid green;

            &:not(:valid){
                border-bottom: 0.5rem solid red;
            }

            &:not(:last-child) {
                margin-bottom: 2rem;
            }
        }

        textarea {
            height: unset;
            border-radius: 20px;
            padding: 1.5rem;
        }

        &-label {
            text-transform: uppercase;
            font-size: 1.6rem;
            letter-spacing: 2px;
            margin-bottom: 1rem;
        }

        .address {
            display: flex;
            flex-direction: column;
            margin: 7rem 0;
        }
    }
}