.nav {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 70%;
    position: relative;
    top: 0;
    left: -70%;
    padding: 1rem;
    // justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: rgba($color-gray-light-1, 0.95);
    z-index: 10000;
    border-right: 5px solid $color-gold-1;
    transition: all .7s;
    font-family: 'Dosis', sans-serif;

    &__container {
        display: inline-block;
        position: sticky;
        top: 0;
        height: 10rem;
        width: 100%;
        transition: all .8s;
        z-index: 10000;
        margin-bottom: 5rem;
    }

    &__icon {
        position: absolute;
        width: 15rem;
        display: block;
        top: -1rem;
        left: 50%;
        transform: translateX(-50%);
        z-index: 900;

    }

    &__links {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-size: 1.8rem;
        font-weight: 600;
        letter-spacing: 1px;

        &-top {
            margin-bottom: 100%;
        }
    }

    &__items {
        text-transform: uppercase;
        list-style: none;
        margin: 2rem 0;

        &:hover,
        &:active {
            font-size: 2rem;
        }

    }

    &__link:link,
    &__link:visited {
        color: inherit;
        text-decoration: none;
    }

    &__divider {
        display: none;
        font-weight: 800;
        font-size: 1.8rem;
    }

    &__hamburger {
        position: absolute;
        display: flex;
        justify-content: center;
        flex-direction: column;

        width: 6rem;
        height: 6rem;
        padding: .5rem;

        border-radius: 100%;
        top: 2rem;
        right: 2rem;
        background-color: $color-gray-light-2;

        &-container {
            display: none;
            position: absolute;
            top: 0;
            width: 100vw;
            height: 100vh;
            z-index: 10;
        }

        &:hover,
        &:active {
            background-color: rgba($color-gray-light-3, 0.95);
        }

        &-line {
            position: absolute;
            display: inline-block;
            background-color: black;
            height: 0.5rem;
            width: 3rem;
            transition: all .2s;
            left: 1.4rem;
            border-radius: 2px;

            &-1 {
                top: 1.5rem;
            }

            &-3 {
                bottom: 1.5rem;
            }
        }
    }
}