.about {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    padding: 0 $padding-large;

    &__title {
        text-align: center;
        font-size: 5rem;
        font-weight: 700;
        letter-spacing: 8px;
       // text-transform: sen;
        align-self: center;
        margin-bottom: 3rem;
        text-shadow: $shadow-text-1
    }

    &__section {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
    }

    &__paragraph {
        font-size: $font-size-larger;
        font-weight: 500;
        margin: $padding-small 0;
    }

    &__img {
        width: 30rem;
        margin: 0 auto;
        border-radius: 20px;
        box-shadow: $shadow-1;
    }

    .card{
        border: none;

        &-text{
            text-transform: none;
            margin: unset;
        }
        
    }
}