.header {
    width: 100%;

    &__logo {
        display: block;
        margin: 0 auto;
        width: 90%;
        margin-top: -10rem;
        margin-bottom: 4rem;
    }
}

.home-products {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 30rem;
    background-color: rgba($color-gray-light-1, .1);
    padding: $padding-large 0;
    margin-bottom: 5rem;


    &__container {
        position: relative;
        width: 90%;
        height: 100%;
        background-image: url('/img/product-display-1.jpg');
        background-size: cover;
        background-position-y: bottom;
        margin: 0 auto;
        
    }

    &__text {
        position: absolute;
        top: 2rem;
        left: 1rem;
    }


}

// .home-products {
//     display: flex;
//     flex-direction: column;
//     justify-content: space-around;


//     width: 100%;

//     &__item {
//         display: flex;
//         flex-direction: column;
//         width: 100%;
//         align-items: center;
//         z-index: -1;
//     }

//     &__text {
//         display: flex;
//         position: relative;
//         flex-direction: column;
//         margin: 0 2rem;
//         padding: 2rem;
//         font-size: 1.5rem;
//         font-weight: 800;
//         z-index: 100;

//         &::after {
//             content: "";
//             position: absolute;
//             top: 0;
//             left: 0;
//             width: 100%;
//             height: 100%;
//             background-image: url('/img/quote-white.png');
//             background-size: cover;
//             opacity: 0.2;
//             z-index: -1;
//         }

//     }

//     &__img {
//         display: inline-block;
//         width: 60%;
//         border: 2px ridge $color-gold-3;
//         border-radius: 10px;
//         margin: 5rem auto;
//     }
// }

.home-story {
    position: relative;
    width: 100%;
    height: 55vh;
    margin-bottom: 5rem;

    text-align: center;

    &__content {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        padding-top: 2rem;
    }

    &__video {
        position: relative;
        width: 100vw;
        height: 100%;
        overflow: hidden;
        filter: brightness(0.3);

        video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__text {
        text-align: center;
        font-size: $font-size-large;
        font-weight: 500;
        padding: 2rem $padding-large;
    }
}