.header {
    width: 100%;

    &__logo {
        display: block;
        margin: 0 auto;
        width: 90%;
        margin-top: -10rem;
        margin-bottom: 4rem;

        @include respond(tab-land) {
            width: auto;
            height: 90vh;
            margin: 0 auto;
        }
    }
}

.home-products {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 30rem;
    background-color: rgba($color-gray-light-1, .1);
    padding: $padding-large 0;
    margin-bottom: 5rem;


    &__container {
        position: relative;
        width: 90%;
        height: 100%;
        background-image: url('/img/product-display-1.jpg');
        background-size: cover;
        background-position-y: bottom;
        margin: 0 auto;

    }

    &__text {
        position: absolute;
        top: 2rem;
        left: 1rem;
    }

    @include respond(tab-port) {
        height: 75rem;

        &__text {
            top: 10rem;

            .btn-section {
                font-size: 5rem;
            }
        }
    }

}


.home-story {
    position: relative;
    width: 100%;
    height: 55vh;
    margin-bottom: 5rem;
    

    text-align: center;

    &__content {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        padding: 2rem;
    }

    &__video {
        position: relative;
        width: 100vw;
        height: 100%;
        overflow: hidden;
        filter: brightness(0.3);

        video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
  
    }

    &__text {
        font-size: 2.3rem;
        text-align: center;
        font-weight: 500;
        padding: 2rem $padding-large;
    }

    @include respond(tab-port) {
        width: 80%;
        margin: 10rem auto;


        &__video {
            width: 100%;
        }

        &__text {
            font-size: 3.3rem;
        }

        .title-about {
            font-size: 10rem;
            margin-top: 3rem;
        }
    }
}