/* universal reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {

    font-size: 62.5%;
}

body {
    font-family: 'Dosis', sans-serif;
    color: $color-gold-1;
    box-sizing: border-box;
    background-color: black;
}

h1,
h2,
h3,
h4 {
    font-family: 'Dosis', sans-serif;
}