/* universal reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {

    font-size: 62.5%;
}

body {
    font-family: 'Dosis', sans-serif;
    color: $color-gold-1;
    box-sizing: border-box;
    position: relative;
}

.content {
    &__container {
        position: relative;
        width: 100%;
        height: 100%;
        background-color: black;
    }

}