.link:link,
.link:visited {
    text-decoration: none;
    color: inherit;
}

.title-secondary {
    font-size: $font-size-XXL;
    font-weight: 800;
    letter-spacing: 5px;
}

.title-about {
    font-size: 6rem;
    letter-spacing: 7px;
}

.credit {
    font-family: 'Dosis', sans-serif;



    &-link {
        font-size: 2.2rem;
        transition: all .2s;

        &:hover {
            color: $color-gold-2;
            font-size: 2.6rem;
        }
    }
}