<% layout('./layouts/boilerplate') -%>

    <section class="product-add">
        <form action="/products" method="POST" class="contact__form">


            <input type="text" class="contact__form-input" id="name" name="product[name]" placeholder="Product name"
                required>

            <input type="text" class="contact__form-input" id="image" name="product[image]" placeholder="Image Url"
                required>

            <input type="number" class="contact__form-input" id="price" name="product[price]" placeholder="Price"
                required>

            <input type="number" class="contact__form-input" id="qty" name="product[qty]" placeholder="Quantity"
                required>


            <label for="notes" class="contact__form-label" style="display: block;">Notes</label>
            <input type="string" class="contact__form-input" id="note" name="product[notesOne]" placeholder="Note"
                required>
            <input type="string" class="contact__form-input" id="note" name="product[notesTwo]" placeholder="Note"
                required>
            <input type="string" class="contact__form-input" id="note" name="product[notesThree]" placeholder="Note">

            
            <textarea type="text" class="contact__form-input" id="description" name="product[description]"
                placeholder="add a description" required></textarea>

            <button class="btn btn-form">submit</button>
        </form>
    </section>