<% layout('./layouts/boilerplate') -%>

    <section class="about">
        <h1 class="about__title">This is our <br>Story</h1>

        <div class="card">
            <div class="card-header">

                <img src="/img/about-1-small.png" alt="" class="card-img u-mb-lrg">
                <div class="card-title">
                    <h4>Foundation</h4>
                </div>
                </a>
            </div>
            <div class="card-body">

                <div class="card-item card-text">
                    Soul Notes LC London was founded in 2023, a intimate gap was being ignored that
                    needed attention in the
                    UK and it was evident that there wasn’t enough UK brands in the market to focus on the intimate
                    aspect
                    of oud fragrances- the feeling aspect of it. Essentially, that’s what a fragrance should do.
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">

                <img src="/img/about-2.png" alt="" class="card-img u-mb-lrg">
                <div class="card-title">
                    <h4>Growth</h4>
                </div>
                </a>
            </div>
            <div class="card-body">

                <div class="card-item card-text">
                    This is how Soul Notes was born. The founders were having a conversation about various emotions and feelings that
                    come with wearing a particular fragrance/scent and how it can evoke certain memories of places and
                    people . In this conversation they talked about how every consumer has their own fragrance/ note that
                    represents their personality and being. With a desire to provide the best euphoric oud fragrances the
                    two decided to embark on this journey .
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">

                <img src="/img/about-4.png" alt="" class="card-img u-mb-lrg">
                <div class="card-title">
                    <h4>Implementation</h4>
                </div>
                </a>
            </div>
            <div class="card-body">

                <div class="card-item card-text">
                    Our aim is to provide high quality euphoric oud fragrances that resonate with every soul and consumer
                    that makes a purchase . We pride ourselves on the creativity of our fragrances and hope you enjoy your
                    notes.
                </div>
            </div>
        </div>
<!-- 
        <div class="about__section u-mb-lrg">
            <img src="/img/about-1-small.png" alt="a bag of perfume in the city" class="about__img u-mb-med">
            <p class="about__paragraph">
                Soul Notes LC London was founded in 2023, a intimate gap was being ignored that
                needed attention in the
                UK and it was evident that there wasn’t enough UK brands in the market to focus on the intimate aspect
                of oud fragrances- the feeling aspect of it. Essentially, that’s what a fragrance should do.
            </p>
        </div> -->

        <!-- <div class="about__section u-mb-lrg">
            <img src="/img/about-2.png" alt="a bag of perfume in the city" class="about__img u-mb-med">
            <p class="about__paragraph">
          


            </p>
        </div> -->
        <!-- <div class="about__section u-mb-lrg">
            <img src="/img/about-4.png" alt="a bag of perfume in the city" class="about__img u-mb-med">
            <p class="about__paragraph">
                Our aim is to provide high quality euphoric oud fragrances that resonate with every soul and consumer
                that makes a purchase . We pride ourselves on the creativity of our fragrances and hope you enjoy your
                notes.
            </p>
        </div> -->




    </section>