<% layout('./layouts/boilerplate') -%>

    <section class="about">
        <h1 class="about__title">This is our <br>Story</h1>

        <div class="about__section u-mb-lrg">
            <img src="/img/about-1-small.png" alt="a bag of perfume in the city" class="about__img u-mb-med">
            <p class="about__paragraph">
                Soul Notes LC London was founded in 2023, a intimate gap was being ignored that
                needed attention in the
                UK and it was evident that there wasn’t enough UK brands in the market to focus on the intimate aspect
                of oud fragrances- the feeling aspect of it. Essentially, that’s what a fragrance should do.
            </p>
        </div>

        <div class="about__section u-mb-lrg">
            <img src="/img/about-2.png" alt="a bag of perfume in the city" class="about__img u-mb-med">
            <p class="about__paragraph">
                This is how
                Soul Notes was born. The founders were having a conversation about various emotions and feelings that
                come with wearing a particular fragrance/scent and how it can evoke certain memories of places and
                people . In this conversation they talked about how every consumer has their own fragrance/ note that
                represents their personality and being. With a desire to provide the best euphoric oud fragrances the
                two decided to embark on this journey .


            </p>
        </div>
        <div class="about__section u-mb-lrg">
            <img src="/img/about-4.png" alt="a bag of perfume in the city" class="about__img u-mb-med">
            <p class="about__paragraph">
                Our aim is to provide high quality euphoric oud fragrances that resonate with every soul and consumer
                that makes a purchase . We pride ourselves on the creativity of our fragrances and hope you enjoy your
                notes.
            </p>
        </div>
        <!-- <div class="about__section u-mb-lrg">
            <img src="/img/product-2-edit.png" alt="a bag of perfume in the city" class="about__img u-mb-med">
            <p class="about__paragraph">Join us on this aromatic adventure as we celebrate the profound connection
                between
                fragrance and memory. Together, let's create a world where each fragrance is a gateway to treasured
                moments,
                where nostalgia meets the present, and where your unique soulnote takes center stage. Explore our
                collection
                and let our fragrances become a part of your story, provoking nostalgic memories and enveloping you in
                the
                euphoric embrace of your true identity.</p>
        </div> -->



    </section>