<% layout('./layouts/boilerplate') -%>

    <section class="about">
        <h1 class="about__title">This is our <br>Story</h1>

        <div class="about__section u-mb-lrg">
            <img src="/img/about-1-small.png" alt="a bag of perfume in the city" class="about__img u-mb-med">
            <p class="about__paragraph">Our mutual exchange of our own personal fragrances with each other at work
                developed into a vision .A realisation that was planted out of-curiosity. We knew we wanted to create
                something intimate for people …
            </p>
        </div>

        <div class="about__section u-mb-lrg">
            <img src="/img/about-2.png" alt="a bag of perfume in the city" class="about__img u-mb-med">
            <p class="about__paragraph">Drawing inspiration from their own personal experiences, the founders recognized
                the
                extraordinary ability of fragrance to evoke emotions and unlock a world of memories. They understood
                that
                each individual possesses their own unique soulnote, a fragrance that resonates deeply with their
                essence
                and reflects their true self. With this understanding, they set out to craft a collection of fragrances
                that
                capture the essence of personal memories, provoking an emotional journey through their carefully curated
                notes.</p>
        </div>
        <div class="about__section u-mb-lrg">
            <img src="/img/about-4.png" alt="a bag of perfume in the city" class="about__img u-mb-med">
            <p class="about__paragraph">Every scent created by our company is a testament to our commitment to quality,
                creativity, and the power of fragrance. Our team of skilled artisans and perfumers meticulously blend
                exquisite ingredients, harmonizing the notes to create olfactory masterpieces. Through our scents, we
                invite
                you to embrace the euphoria of self-expression and connect with the moments that have shaped your
                journey.
                With each spritz, we aspire to ignite your senses and evoke a tapestry of emotions, immersing you in the
                symphony of your own soulnote.</p>
        </div>
        <div class="about__section u-mb-lrg">
            <img src="/img/product-2-edit.png" alt="a bag of perfume in the city" class="about__img u-mb-med">
            <p class="about__paragraph">Join us on this aromatic adventure as we celebrate the profound connection
                between
                fragrance and memory. Together, let's create a world where each fragrance is a gateway to treasured
                moments,
                where nostalgia meets the present, and where your unique soulnote takes center stage. Explore our
                collection
                and let our fragrances become a part of your story, provoking nostalgic memories and enveloping you in
                the
                euphoric embrace of your true identity.</p>
        </div>



    </section>