<% layout('./layouts/boilerplate') -%>
    <section class="credits">
        <span class="credit">
            background Video by MART PRODUCTION:
            <a href="https://www.pexels.com/video/bottles-of-perfume-on-the-table-8447657/">view here</a>
        </span>
        <span class="credit">Photography by</span>
        <span class="credit"></span>
        <span class="credit"></span>

    </section>