<% layout('./layouts/boilerplate') -%>
    <section class="error" style="overflow: scroll;">
        <h1>
            <%= error.message %>
        </h1>
        <p style="font-size: 2rem">
            <% if (process.env.NODE_ENV !=="production" ) {%>
                <%= error.stack %>
                    <% } %>
        </p>
    </section>