<% layout('./layouts/boilerplate') -%>

    <section class="header">
        <img src="img/logo-transparent.png" alt="love notes logo" class="header__logo">
    </section>



    <section class="home-story">
        <div class="home-story__video">
            <video autoplay loop muted playsinline preload="auto" id="video-element">
                <source src="/video/perfume-table.mp4" type="video/mp4">
                <!-- <source src="/video/perfume-table.webm" type="video/webm">
                <source src="/video/perfume-table.ogv" type="video/ogg"> -->
                Your browser does not support the video tag.
            </video>
        </div>

    <!--  -->
    <div id="log-output"></div>
    
    <script>
      function log(message) {
        var logOutput = document.getElementById('log-output');
        var logMessage = document.createElement('p');
        logMessage.textContent = message;
        logOutput.appendChild(logMessage);
      }
    log('hi')
      var video = document.getElementById('video-element');
    
      video.addEventListener('loadedmetadata', function() {
        log('Video metadata loaded.');
      });
    
      video.addEventListener('canplay', function() {
        log('Video can start playing.');
      });
    
      video.addEventListener('canplaythrough', function() {
        log('Video can play through without buffering.');
      });
    
      video.addEventListener('error', function() {
        log('Error occurred while loading the video.');
      });
    
      video.addEventListener('ended', function() {
        log('Video playback ended.');
      });
    
      video.addEventListener('play', function() {
        log('Video playback started.');
      });
    
      video.addEventListener('pause', function() {
        log('Video playback paused.');
      });
    
    </script>
    
    <!--  -->
  
        <div class="home-story__content">

            <h2 class="title-secondary u-mb-small">Our Story</h2>
            <p class="home-story__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem voluptas libero
                asperiores consequatur quidem necessitatibus, est exercitationem recusandae vel cumque aut labore odio
                alias natus nobis quo id suscipit doloremque.
                Enim pariatur similique hic dolor! Alias ex quam delectus veniam impedit recusandae nostrum sequi
                doloremque assumenda minima ullam, deleniti, similique corrupti eaque expedita id inventore ipsa
                molestias. Eius, eaque accusantium.</p>

            <a href="/about" class="link"><button class="btn">our story</button></a>
        </div>
    </section>

    <section class="home-products">

        <div class="home-products__item">
            <img src="img/product-2.png" alt="" class="home-products__img home-products__img-1">
            <p class="home-products__text">
                <span class="home-products__text-1">A fragrance oil company that provokes nostalgic memories through our
                    notes .</span>
                <span class="home-products__text-2"> Fragrance is a euphoric extension of who you are. It is your soul
                    note</span>
            </p>
        </div>
        <div class="home-products__item">
            <img src="img/product-1.png" alt="" class="home-products__img home-products__img-2">
            <p class="home-products__text"> <span class="home-products__text-1">Fragrance is something very
                    intimate,</span>
                <span class="home-products__text-2">your notes represent your soul.</span>
            </p>
        </div>
        <div class="home-products__item">
            <img src="img/product-3.png" alt="" class="home-products__img home-products__img-3">
            <p class="home-products__text"> <span class="home-products__text-1">Fragrance is something very
                    intimate,</span>
                <span class="home-products__text-2">your notes represent your soul.</span>
            </p>
        </div>



    </section>