<% layout('./layouts/boilerplate') -%>

    <section class="header">
        <img src="img/logo-1500px-small.png" alt="love notes logo" class="header__logo">
    </section>



    <section class="home-story">
        <div class="home-story__video">
            <video autoplay loop muted playsinline autobuffer preload="metadata" id="video-element">
                <source src="https://i.imgur.com/K72j13B.mp4" type="video/mp4">
                <source src="/video/perfume-table.webm" type="video/webm">
                <source src="/video/perfume-table.ogv" type="video/ogg">
                Your browser does not support the video tag.
            </video>
        </div>


        <div class="home-story__content">

            <h2 class="title-secondary title-about u-mb-lrg">Our Story</h2>
            <p class="home-story__text">
                Our aim is to provide high quality euphoric oud fragrances that resonate with
                every soul and consumer that makes a purchase . We pride ourselves on the creativity of our fragrances
                and hope you enjoy your notes...
            </p>

            <a href="/about" class="link"><button class="btn btn-section">more &rarr;</button></a>
        </div>



    </section>

    <section class="home-products">

        <div class="home-products__container">
            <p class="home-products__text"><a href="/products" class="home-products__link link">
                    <button class="btn btn-section">View our range &rarr;</button></a></p>
        </div>
    </section>

    <%- include('../partials/shipping') %>