<% layout('./layouts/boilerplate') -%>

    <section class="header">
        <img src="img/logo-title.png" alt="love notes logo" class="header__logo">
    </section>

    <section class="home-products">
        <div class="home-products__item">
            <img src="img/product-2.png" alt="" class="home-products__img home-products__img-1">
            <p class="home-products__text">
                <span class="home-products__text-1">A fragrance oil company that provokes nostalgic memories through our notes .</span>
                <span class="home-products__text-2"> Fragrance is a euphoric extension of who you are. It is your soul note</span>
            </p>
        </div>
        <div class="home-products__item">
            <img src="img/product-1.png" alt="" class="home-products__img home-products__img-2">
            <p class="home-products__text"> <span class="home-products__text-1">Fragrance is something very
                    intimate,</span>
                <span class="home-products__text-2">your notes represent your soul.</span>
            </p>
        </div>
        <div class="home-products__item">
            <img src="img/product-3.png" alt="" class="home-products__img home-products__img-3">
            <p class="home-products__text"> <span class="home-products__text-1">Fragrance is something very
                    intimate,</span>
                <span class="home-products__text-2">your notes represent your soul.</span>
            </p>
        </div>


    </section>