<% layout('./layouts/boilerplate') -%>

    <section class="header">
        <img src="img/logo-transparent-compact.png" alt="love notes logo" class="header__logo">
    </section>



    <section class="home-story">
        <div class="home-story__video">
            <video autoplay loop muted playsinline autobuffer preload="metadata" id="video-element">
                <source src="https://i.imgur.com/K72j13B.mp4" type="video/mp4">
                <source src="/video/perfume-table.webm" type="video/webm">
                <source src="/video/perfume-table.ogv" type="video/ogg">
                Your browser does not support the video tag.
            </video>
        </div>


        <div class="home-story__content">

            <h2 class="title-secondary u-mb-medium">Our Story</h2>
            <p class="home-story__text">Drawing inspiration from their own personal experiences, the founders recognized
                the
                extraordinary ability of fragrance to evoke emotions and unlock a world of memories. They understood
                that
                each individual possesses their own unique soulnote, a fragrance that resonates deeply with their
                essence
                and reflects their true self. With this understanding, they set out to craft a collection of fragrances
                that
                capture the essence of personal memories, provoking an emotional journey through their carefully curated
                notes...</p>

            <a href="/about" class="link"><button class="btn btn-section">more &rarr;</button></a>
        </div>



    </section>

    <section class="home-products">
        <div class="home-products__container">
            <p class="home-products__text"><a href="/products" class="home-products__link link">
                    <button class="btn btn-section">View our range &rarr;</button></a></p>
        </div>

    </section>