<% layout('./layouts/boilerplate') -%>

    <section class="header">
        <img src="img/logo-transparent.png" alt="love notes logo" class="header__logo">
    </section>



    <section class="home-story">
        <div class="home-story__video">
            <video autoplay loop muted playsinline preload="auto">
                <source src="/video/perfume-table.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="home-story__content">

            <h2 class="title-secondary u-mb-small">Our Story</h2>
            <p class="home-story__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem voluptas libero
                asperiores consequatur quidem necessitatibus, est exercitationem recusandae vel cumque aut labore odio
                alias natus nobis quo id suscipit doloremque.
                Enim pariatur similique hic dolor! Alias ex quam delectus veniam impedit recusandae nostrum sequi
                doloremque assumenda minima ullam, deleniti, similique corrupti eaque expedita id inventore ipsa
                molestias. Eius, eaque accusantium.</p>

            <a href="/about" class="link"><button class="btn">our story</button></a>
        </div>
    </section>

    <section class="home-products">

        <div class="home-products__item">
            <img src="img/product-2.png" alt="" class="home-products__img home-products__img-1">
            <p class="home-products__text">
                <span class="home-products__text-1">A fragrance oil company that provokes nostalgic memories through our
                    notes .</span>
                <span class="home-products__text-2"> Fragrance is a euphoric extension of who you are. It is your soul
                    note</span>
            </p>
        </div>
        <div class="home-products__item">
            <img src="img/product-1.png" alt="" class="home-products__img home-products__img-2">
            <p class="home-products__text"> <span class="home-products__text-1">Fragrance is something very
                    intimate,</span>
                <span class="home-products__text-2">your notes represent your soul.</span>
            </p>
        </div>
        <div class="home-products__item">
            <img src="img/product-3.png" alt="" class="home-products__img home-products__img-3">
            <p class="home-products__text"> <span class="home-products__text-1">Fragrance is something very
                    intimate,</span>
                <span class="home-products__text-2">your notes represent your soul.</span>
            </p>
        </div>



    </section>